body {
  background-color: #212324;
  position: relative;
}

button {
border-radius: 50%;
background-color: rgba(255,128,227,0.9);
font: 20px Verdana, sans-serif;
color: white;
border: 0;
padding: 20px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 25%;
}

button:hover{
font-weight: bold;
border: blue solid 2px;
}

button:focus {
transition: all 0.25s;
-webkit-transition: all 0.25s;
}
